---
import MainLayout from '../layouts/MainLayout.astro';
import MetaOg from '../assets/meta-og.png';
---

<MainLayout title="Kontak" desc="My Kontak" image={MetaOg.src}>
  <h1>Kontak Kami</h1>
  <p>
    Kami sangat senang mendengar dari Anda! Jika Anda memiliki pertanyaan, komentar, atau ingin berbagi ide, jangan ragu
    untuk menghubungi kami melalui salah satu cara berikut:
  </p>

  <h2>Email</h2>
  <p>
    <strong>Umum:</strong>
    <a href="mailto:me@daire.eu.org">me@daire.eu.org</a>
  </p>

  <h2>Media Sosial</h2>
  <p>Ikuti kami di media sosial untuk update terbaru dan informasi menarik:</p>
  <ul>
    <li><a href="https://www.facebook.com/daier.it" target="_blank">Facebook</a></li>
    <li><a href="https://www.twitter.com/03ii00" target="_blank">Twitter</a></li>
    <li><a href="https://www.instagram.com/dei.terada" target="_blank">Instagram</a></li>
    <li><a href="https://www.github.com/dai-re/" target="_blank">Github</a></li>
  </ul>
  <p>Terima kasih atas kunjungan Anda. Kami akan segera merespons pesan Anda.</p>
</MainLayout>
