---
import MainLayout from '../layouts/MainLayout.astro';
import Terima from '../assets/terimakasih.md';
import { keyword } from '../data/data';
---

<MainLayout
  title="Terimakasih ðŸ™‡ðŸ¼"
  desc="Terimakasih untuk semua teman-teman yang membantu mengembangkan website ini."
  image=""
  keywords={keyword}
>
  <div class="terimakasih">
    <Terima />
  </div>
</MainLayout>
