---
const date = new Date();
---

<hr />
<footer class="text-center">
  <span><a href="/copyright">copyright</a> &copy; 2024 - {date.getFullYear()} daire blog all rights reserved</span>
  <br />
  <br />
</footer>
