---
const date = new Date();
---

<hr />
<footer class="text-center">
  <span><a href="/copyright">copyright</a> &copy; 2024 - {date.getFullYear()} daire blog all rights reserved</span>
  <p>Build with &hearts; by dai.re. - <a href="/terimakasih">'Terima kasih'</a> atas semua bantuan nya.</p>
  <br />
  <br />
</footer>
